* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: #b6b6b6;
}
.main_header {
  background-color: #2874f0;
  padding: 12px 16px;
  text-align: center;
}
.main_header_logo_input {
  display: inline-block;
  width: 45%;
}
.main_header_logo_input a{
    /* text-decoration: none;
    color: white;
    font-weight: bolder; */
    background: url(./flipkart-plus_8d85f4.png)  center/cover;
    
}
.main_header_logo_input img{
    display: inline;
    width: 64px;
    vertical-align: middle;
    height: 20px;
}
.main_header_logo_input input{
    border: none;
    padding: 8px;
    width: 60%;
}
.main_header_logo_input input:focus{
    outline: none;
}
.fas{
    vertical-align: middle;
}
.fa-shopping-cart{
    /* margin-right: 4px; */
    vertical-align: top;
}
.main_nav {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}
.main_nav_items{
    list-style: none;
}
.main_nav_item{
    display: inline-block;
    margin: 0px 16px;
    
}
.main_nav_item a{
    color: white;
    text-decoration: none;
    /* border: 2px solid pink; */
    padding: 2px 16px;

}
.login a{
    background-color: white;
    padding: 2px 32px;
    color: #2874f0;
}

#main_items{
  /* display: block; */
  list-style: none;
  /* border: 2px solid orange; */
  text-align: center;
  width: 100%;
margin: auto;
}
main{
  background: white;
}
.main_item{
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  /* border: 2px solid blue; */
}
.main_item_img{
  /* border: 2px solid green; */
  width: 48px;
  margin: auto;
  height: 48px;

}
.main_item_txt{
  font-size: 12px;
  font-weight:500;
}
#top_offer_img{
  background: url(./below_header/top_offer.png) center/cover;
}
#grocery_img{
  background: url(./below_header/grocery.png) center/cover;
}
#mobile_img{
  background: url(./below_header/mobiles.png) center/cover;
}
#fashion_img{
  background: url(./below_header/fashion.png) center/cover;
}
#electronics_img{
  background: url(./below_header/electronics.png) center/cover;
}
#home_img{
  background: url(./below_header/home.jpeg) center/cover;
}
#appliances_img{
  background: url(./below_header/appliances.png) center/cover;
}
#travel_img{
  background: url(./below_header/travel.png) center/cover;
}
#beauty_toys_img{
  background: url(./below_header/beauty_toy_more.png) center/cover;
}